namespace: divesite

useSealedSecrets: false
# Scope can be set to "cluster-wide" or "namespace-wide". Leaving it empty means
# that "strict" mode will be used.
sealedSecretsScope: ""

app:
  database:
    engine: postgresql
    dsn: postgresql://divesite_user:Sup3rS3cr3tP455w0rd@db.example.com:5432/divesite_prod
  debug: "0"
  image:
    repository: ghcr.io/m5lapp/dive-site
    tag: ""
  ports:
    internal: 8080
  probes:
    liveness:
      active: true
      path: /status
  replicas: 1
  resources:
    limits:
      # cpu: "500m"
      memory: "128Mi"
    requests:
      memory: "128Mi"
  terminationGracePeriodSeconds: 20

ingress:
  active: true
  clusterIssuer: letsencrypt-prod
  domain: example.com
  fqdn: dive-site.example.com
  mtls:
    active: false
    clientCert:
      duration: 8760h # 1 year.
      userName: dive-site
    trustNamespace: cert-manager
    rootCA:
      certificateSecret: example-com-root-ca-cert
      issuer: example-com-root-ca-issuer
  tls:
    minVersion: VersionTLS12
    maxVersion: VersionTLS13
    secretName: dive-site-tls-prod

serviceMesh:
  linkerd:
    active: false

dbBackup:
  active: false
  schedule: "0 2 * * *"
  resources:
    limits:
      memory: "64Mi"
  retentionDays: "120"
  volume:
    capacity: 200Mi
    storageClass: longhorn

